<h1>PET STORE</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Species</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pet of petList">
    <td>{{pet.id}}</td>
    <td>{{pet.name}}</td>
    <td>{{pet.species}}</td>
    <td>{{pet.healthStatus}}</td>
    <td>
      <button (click)="showPetDetail(pet)" type="button" class="btn btn-info">See detail</button>
    </td>
    <td>
      <button (click)="pet.name = 'saaaa'" type="button" class="btn btn-info">change</button>
    </td>
  </tr>
  </tbody>
</table>


<app-pet-details [pet]="petDetail"></app-pet-details>
