<div class="contain-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1>PET STORE</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Species</th>
          <th>Health Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pet of petList">
          <td>{{pet.id}}</td>
          <td>{{pet.name}}</td>
          <td>{{pet.species}}</td>
          <td>{{pet.healthStatus}}</td>
          <td>
            <button (click)="showPetDetail(pet)" type="button" class="btn btn-info">See detail</button>
          </td>
        </tr>
        </tbody>
      </table>
      <app-pet-details [pet]="petDetail"></app-pet-details>
    </div>
    </div>
</div>
