<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h3 class="modal-title custom_align" id="Heading">EDIT HOTEL SERVICE</h3>

      <form class="form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input formControlName="codeService" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="DV-XXXX">
          <div *ngIf="createForm.get('codeService').invalid && createForm.get('codeService').touched">
            <div *ngIf="createForm.get('codeService').hasError('required')">
              <p class="error-notice">Must be filled</p>
            </div>
            <div *ngIf="createForm.get('codeService').hasError('pattern')">
              <p class="error-notice">Must be format DV-XXXX (X is a number from 0 to 9)</p>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Service Name</label>
          <input formControlName="nameService" type="text" class="form-control" id="exampleInputPassword1">
          <div *ngIf="createForm.get('nameService').invalid && createForm.get('nameService').touched">
            <div *ngIf="createForm.get('nameService').hasError('required')">
              <p class="error-notice">Must be filled</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Rental Fee</label>
          <input formControlName="rentalFee" type="text" class="form-control" id="exampleInputEmail">
          <div *ngIf="createForm.get('rentalFee').invalid && createForm.get('rentalFee').touched">
            <div *ngIf="createForm.get('rentalFee').hasError('min')">
              <p class="error-notice">Must be large than 0</p>
            </div>
            <div *ngIf="createForm.get('rentalFee').hasError('pattern')">
              <p class="error-notice">Must be a number</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Max Occupancies</label>
          <input formControlName="maxOccupancies" type="text" class="form-control" id="exampleInputEmail">
          <div *ngIf="createForm.get('maxOccupancies').invalid && createForm.get('maxOccupancies').touched">
            <div *ngIf="createForm.get('maxOccupancies').hasError('min')">
              <p class="error-notice">Must be large than 0</p>
            </div>
            <div *ngIf="createForm.get('maxOccupancies').hasError('pattern')">
              <p class="error-notice">Must be a number</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Rental Type</label>
          <select formControlName="rentalType" class="form-control" id="sel1">
            <!--              <option selected>Choose...</option>-->
            <option selected value="Hour">Hour</option>
            <option value="Day">Day</option>
            <option value="Month">Month</option>
            <option value="Year">Year</option>
          </select>
          <div *ngIf="createForm.get('rentalType').invalid && createForm.get('rentalType').touched">
            <div *ngIf="createForm.get('rentalType').hasError('required')">
              <p class="error-notice">Must be chosen</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Room Standard</label>
          <select formControlName="rentalType" class="form-control" id="sel1">
            <!--              <option selected>Choose...</option>-->
            <option selected value="Deluxe">Deluxe</option>
            <option value="Day">Executive</option>
            <option value="Month">Luxury</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sel1">Facilities</label>
          <select formControlName="facilities" class="form-control" id="sel1">
            <!--              <option selected>Choose...</option>-->
            <option selected value="Custom">Custom</option>
            <option value="Full options">Full options</option>
          </select>
        </div>

        <div class="form-group">
          <label>Number of Floor</label>
          <input formControlName="numberOfFloor" type="text" class="form-control">
          <div *ngIf="createForm.get('numberOfFloor').invalid && createForm.get('numberOfFloor').touched">
            <div *ngIf="createForm.get('numberOfFloor').hasError('min')">
              <p class="error-notice">Must be large than 0</p>
            </div>
            <div *ngIf="createForm.get('numberOfFloor').hasError('pattern')">
              <p class="error-notice">Must be a number</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Swimming Pool Area</label>
          <input formControlName="areaSwimmingPool" type="text" class="form-control">
          <div *ngIf="createForm.get('areaSwimmingPool').invalid && createForm.get('areaSwimmingPool').touched">
            <div *ngIf="createForm.get('areaSwimmingPool').hasError('min')">
              <p class="error-notice">Must be large than 0</p>
            </div>
            <div *ngIf="createForm.get('areaSwimmingPool').hasError('pattern')">
              <p class="error-notice">Must be a number</p>
            </div>
          </div>
        </div>

<!--        <div class="form-group form-check">-->
<!--          <label class="form-check-label">Free Service &nbsp;&nbsp;&nbsp;</label><br/>-->
<!--          <input formControlName="freeService" name="freeService" type="checkbox" class="form-check-input" [value]="'Laundry'"> Laundry<br/>-->
<!--          <input formControlName="freeService" name="freeService" type="checkbox" class="form-check-input" [value]="'Drinking juice'"> Welcome Drinking<br/>-->
<!--          <input formControlName="freeService" name="freeService" type="checkbox" class="form-check-input" [value]="'Public Swimming Pool'"> Public Swimming Pool<br/>-->
<!--          <input formControlName="freeService" name="freeService" type="checkbox" class="form-check-input" [value]="'Car Trip'"> Car Trip<br/>-->
<!--          <input formControlName="freeService" name="freeService" type="checkbox" class="form-check-input" [value]="'Buffet Voucher'"> Buffet Voucher<br/>-->
<!--        </div>-->

        <div class="form-group">
          <label for="exampleInputEmail">Free Service &nbsp;&nbsp;&nbsp;</label>
            <select formControlName="freeService" class="form-control">
              <option selected value="Laundry">Laundry</option>
              <option value="Welcome Drinking">Welcome Drinking</option>
              <option value="Public Swimming Pool">Public Swimming Pool</option>
              <option value="Car Trip">Car Trip</option>
              <option value="Buffet Voucher">Buffet Voucher</option>
            </select>
        </div>

        <div class="modal-footer ">
          <p class="error-notice">{{message}}</p>
          <button [disabled]="createForm.invalid" type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </form>

    </div>

  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
