<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Customer</title>
</head>
<body>
    <form th:action="@{/create-customer}" th:object="${customer}" method="post">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Create New</button></td>
            </tr>
        </table>
    </form>
</body>
</html>