<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head_admin_site"></head>
<body style="padding-top: 0px">
    <div th:replace="layout :: header_admin_site"></div>

<!--    Body-->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div th:replace="layout :: body_admin_bar_right_contract"></div>
            </div>

            <div class="col-sm-8 text-left">
                <h3>CONTRACTS</h3>
                <hr>
                <div th:replace="layout :: notify"></div>

                <form th:method="POST" th:object="${contract}" th:action="@{/admin/action-contract/add-new-contract-detail}">
                    <h2 class="form-signin-heading">Add New Contract</h2>

                    <label for="checkInDate">Choose contract:</label>

                    <table class="table table-striped custab">
                        <thead>
                        <a href="/admin/action-customer/add-new" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new services</a>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Service</th>
                            <th>Check-in Date</th>
                            <th>Check-out Date</th>
                            <th>Deposit</th>
                            <th>Total Payment</th>
                            <th>Person in charge</th>
                            <th>Date Created</th>
                            <th class="text-center">Choose</th>
                        </tr>
                        </thead>
                        <tr th:each="contract,itat : ${listContracts}">
                            <td th:text="${contract.idContract}"></td>
                            <td>
                                <a th:href="@{/admin/action-customer/view/{id}(id=${contract.customer.idCustomer})}" th:text="${contract.customer.nameCustomer}"></a>
                            </td>
                            <td th:text="${contract.service.nameOfAccommodation}"></td>
                            <td th:text="${contract.checkInDate}"></td>
                            <td th:text="${contract.checkOutDate}"></td>
                            <td th:text="${contract.deposit}"></td>
                            <td th:text="${contract.totalPayment}"></td>
                            <td th:text="${contract.employee.nameEmployee}"></td>
                            <td th:text="${contract.idContract}"></td>
                            <td style="text-align: center">
                                <input type="radio" id="ratio"
                                       th:field="${detailContract.contract.getIdContract()}"
                                       th:value="${contract.idContract}" checked="checked" />
                            </td>
                        </tr>
                    </table>


                    <p>
                        <label for="employee">Choose sales person:</label>
                        <select th:field="*{idEmployee}" id="employee" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div th:each="employee : ${listEmployees}" >
                                <option th:value="${employee.idEmployee}"
                                        th:text="${employee.nameEmployee}"></option>
                            </div>
                        </select>
                    </p>

                    <div class="row col-md-6 col-md-offset-2 custyle">
                    <p>
                        <label for="checkInDate">Check in date</label>
                        <input type="date" th:field="*{checkInDate}" id="checkInDate" class="form-control" required autofocus>
                    </p>
                    <p>
                        <label for="checkOutDate">Check out date</label>
                        <input type="date" th:field="*{checkOutDate}" id="checkOutDate" class="form-control" required autofocus>
                    </p>
                    <p>
                        <label for="deposit">Deposit</label>
                        <input type="text" th:field="*{deposit}" id="deposit" class="form-control" required autofocus>
                    </p>
                    <p>
                        <label for="totalPayment">Total of Payment</label>
                        <input type="text" th:field="*{totalPayment}" id="totalPayment" class="form-control" required autofocus>
                    </p>
                    <p>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                    </p>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 sidenav"></div>
        </div>
    </div>

    <div th:replace="layout :: footer_admin_site"></div>
</body>
</html>