<!--<h3>Bài tập 2:</h3>-->

<!--<app-timer-countdown-onchanges seconds="10"></app-timer-countdown-onchanges>-->
<!--<app-timer-countdown-get-set seconds="a"></app-timer-countdown-get-set>-->
<!--<app-timer-countdown [seconds]="9"></app-timer-countdown>-->

<!--========= COMPONENT ===========-->

<!--<app-ung-dung-binh-chon [max]="10" (rateChange)="onRateChange($event)"></app-ung-dung-binh-chon>-->

<!--<app-progress-bar  width="85"></app-progress-bar>-->

<!--<app-name-card cardName="Emma Watson" email="emma@abc.uk" phone="0123456789"></app-name-card>-->

<!--bai 5-->
<!--<app-change-color></app-change-color>-->

<!--<app-calculator></app-calculator>-->

<!--<app-display-pet-info></app-display-pet-info>-->

<!--<app-change-font-size></app-change-font-size>-->

<!--========= KHOA PHAM ==========-->
<!--<app-word></app-word>-->
<!--<app-user-form></app-user-form>-->

<!--======= bai demo ========-->
<app-pet-list></app-pet-list>
