<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="UTF-8">
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <h2>Are you sure to remove this employee?</h2>
    <form th:action="@{/employee/{id}/delete(id=${employee.id})}" th:object="${employee}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td th:text="*{phone}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete employee"></td>
<!--                <td ><button th:action="@{/employee}">Cancel</button></td>-->
            </tr>
        </table>
    </form>

</body>
</html>