<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head_admin_site">
    <title>Sign in - Furama Resort</title>
</head>
<body>
<!--    <div th:replace="layout :: header_admin_site"></div>-->

        <div class="container">
            <form class="form-signin" method="POST" th:action="@{/admin/login}">
                <h2 class="form-signin-heading">Log in</h2>
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </p>
                <input name="_csrf" type="hidden" value="7fe7252e-444c-4c11-8077-088d81660a97" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>
        </div>

    <div th:replace="layout :: footer_admin_site"></div>
</body>
</html>