table{
  font-size: 20px;
  //margin: 0 100px 0 50px;
}
button{
  font-size: 15px;
}

.pet-details{
  margin: 0 100px 0 50px;
}

.pet-details-health-update{
  text-align: center;
  font-size: 15px;
  color: mediumblue;
}
