<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head_admin_site"></head>
<body style="padding-top: 0px">
    <div th:replace="layout :: header_admin_site"></div>

<!--    Body-->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div th:replace="layout :: body_admin_bar_right_customer"></div>
            </div>

            <span class="col-sm-8 text-left">
                <h3>CUSTOMERS</h3>
                <hr>
                <div th:replace="layout :: notify"></div>
                <h2 class="form-signin-heading">List of Customers</h2>

                <a href="/admin/action-customer/add-new" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new customer</a>
                <div th:replace="layout :: chart_show_all_customer"></div>
                <div th:replace="layout :: chart_show_all_customer_page_breaking"></div>

            </span>
        </div>
    </div>
    <div th:replace="layout :: footer_admin_site"></div>
</body>
</html>