<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head_admin_site"></head>
<body style="padding-top: 0px">
<div th:replace="layout :: header_admin_site"></div>

<!--    Body-->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div th:replace="layout :: body_admin_bar_right_customer"></div>
        </div>

        <div class="col-sm-8 text-left">
            <h3>CUSTOMERS</h3>
            <hr>
<!--            <div th:replace="layout :: notify"></div>-->

            <!--                CONFIRM DELETE CUSTOMER-->
            <div class="row col-md-6 col-md-offset-2 custyle">

                <h2 th:if="${notifyDelete} != null">
                    <h4 th:text="${notifyDelete}"></h4>
                </h2>

                <form th:method="POST" th:object="${customer}" th:action="@{/admin/action-customer/delete/{id}(id=${customer.idCustomer})}" >
                    <table class="table table-striped custab">
                        <tr>
                            <td>ID</td>
                            <td th:text="*{idCustomer}"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td th:text="*{nameCustomer}"></td>
                        </tr>
                        <tr>
                            <td>Birthday</td>
                            <td th:text="*{birthday}"></td>
                        </tr>
                        <tr>
                            <td>ID Card/Passport Number</td>
                            <td th:text="*{idCardNumber}"></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td th:text="*{phoneNumber}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="*{email}"></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td th:text="*{address}"></td>
                        </tr>
                        <tr>
                            <td>Customer Type</td>
                            <td th:text="*{customerType}"></td>
                        </tr>
                        <tr>
                            <td>Contract</td>
                            <td th:text="*{contract}"></td>
                        </tr>
                        <div th:if="${notifyDelete} != null">
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                    <button class="btn btn-primary"><a th:href="@{/admin/action-customer/view-all}" style="color: white; text-decoration: none;">No</a></button>
                                </td>
                            </tr>
                        </div>
                    </table>
                </form>

            </div>
        </div>
    </div>

    <div class="col-sm-2 sidenav"></div>
</div>
<div th:replace="layout :: footer_admin_site"></div>
</body>
</html>